<div class="about">
  <div class="container">
    <h2 *ngIf="lang=='english'">About Brngi</h2>
    <p *ngIf="lang=='english'">
        web application that aims to connect the clients with the freelancer workers or the companies that provide home maintenance services to do a specific order that related to home maintenance categories like (electricity, painting, flooring, carpentry, plastering, cleaning, etc…). The system will provide to the client the freelancer worker`s details according to the category that the client has chosen to make the connection easily like (phone number, rate, reviews, previous work portfolio, etc…).
    </p>

    <h2 *ngIf="lang=='arabic'">عن برنجي</h2>
    <p *ngIf="lang=='arabic'">
        برنجي هو ويب ابليكيشن متخصص في مجال الصيانات. فنحن نقدم صيانات في مجالات المباني السكنية و خدمات نقل الاثاث والبضائع و اعطال التكيف والكهرباء و التجاريه والحالات الفرديه وخدمات اخري متجدده كل هذا مع عملاء حقيقيين في المناطق المحيطه بك مع اول موقع متخصص في مجال الصيانات المنزليه يستخدم خاصيه تحديد المواقع جي بي اس.
    </p>

  </div>
</div>
