<app-navbar></app-navbar>

<div class="availableFreelancers">
  <div class="container">
      <h3 *ngIf="lang=='english'">Available Freelancers At {{ category }} Category</h3>
      <h3 *ngIf="lang=='arabic'">العملاء المتاحيين</h3>


      <div class="card-header" [ngClass]="{'direction': lang=='arabic'}">
          <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': searchfirst}" (click)="getFreelancersByGategory()" *ngIf="lang=='english'">Search By Category</a>
              <a class="nav-link" [ngClass]="{'active': searchfirst}" (click)="getFreelancersByGategory()" *ngIf="lang=='arabic'">بحث باستخدام القسم</a>

            </li>
            <li class="nav-item">
              <a class="nav-link" [ngClass]="{'active': !searchfirst}" (click)="getFreelancersByGPS()" *ngIf="lang=='english'">Search By GPS</a>
              <a class="nav-link" [ngClass]="{'active': !searchfirst}" (click)="getFreelancersByGPS()" *ngIf="lang=='arabic'">بحث باستخدام الموقع</a>
            </li>
          </ul>
        </div>

      <div class="row" [ngClass]="{'direction': lang=='arabic'}">

        <div class="col-md-6" *ngFor="let freelancer of freelancers">
          <div class="card flex-md-row mb-4 shadow-sm h-md-250">  
              <img class="card-img-left flex-auto d-none d-lg-block" data-src="holder.js/200x250?theme=thumb" alt="{{ freelancer.name }}" style="width: 225px; height: 265px;" src="http://127.0.0.1:8000/freelancerImages/{{ freelancer.personalImage }}" data-holder-rendered="true">
    
              <div class="card-body d-flex flex-column align-items-start">
                <strong class="d-inline-block mb-2 text-primary" *ngIf="lang=='english'">Rate: {{ freelancer.totalRate.toFixed(1) }} <i class="fas fa-star"></i></strong>
                <h6 class="mb-0" *ngIf="lang=='english'">Name: {{ freelancer.name }}</h6>
                <div class="mb-1 text-muted" *ngIf="lang=='english'">Number Of Jobs Done: {{ freelancer.numberOfJobsDone }} <strong class="d-inline-block mb-2 text-primary"><i class="far fa-check-circle"></i></strong></div>
                
                <div class="mb-1 text-muted" *ngIf="lang=='english'">Address: {{ freelancer.address }}</div>

                <div class="mb-1 text-muted" *ngIf="!searchfirst && lang=='english'">Distance: {{ freelancer.distance.toFixed(2) }}KM <strong class="d-inline-block mb-2 text-primary"> <i class="fas fa-map-marked-alt" style="margin-left: 5px;"></i></strong></div>



                <strong class="d-inline-block mb-2 text-primary" *ngIf="lang=='arabic'">التقييم: {{ freelancer.totalRate.toFixed(1) }} <i class="fas fa-star"></i></strong>
                <h6 class="mb-0" *ngIf="lang=='arabic'">اسم العامل: {{ freelancer.name }}</h6>
                <div class="mb-1 text-muted" *ngIf="lang=='arabic'">عدد الطلبات المكتمله: {{ freelancer.numberOfJobsDone }} <strong class="d-inline-block mb-2 text-primary"><i class="far fa-check-circle"></i></strong></div>
                
                <div class="mb-1 text-muted" *ngIf="lang=='arabic'">العنوان: {{ freelancer.address }}</div>

                <div class="mb-1 text-muted" *ngIf="!searchfirst && lang=='arabic'">المسافه: {{ freelancer.distance.toFixed(2) }}كم <strong class="d-inline-block mb-2 text-primary"> <i class="fas fa-map-marked-alt" style="margin-left: 5px;"></i></strong></div>




                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="requestWorker(freelancer.id)" *ngIf="lang=='english'">Request</button>
                <button type="button" class="btn btn-secondary" [routerLink]="['/view-freelancer']" (click)="getFreelancerID(freelancer.id, freelancer.email)" *ngIf="lang=='english'">View Profile</button>

                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="requestWorker(freelancer.id)" *ngIf="lang=='arabic'">طلب العامل</button>
                <button type="button" class="btn btn-secondary" [routerLink]="['/view-freelancer']" (click)="getFreelancerID(freelancer.id, freelancer.email)" *ngIf="lang=='arabic'">الصفحه الشخصيه</button>

              </div>
          </div>
        </div>

      </div>
      
      

      <div class="loadingContent" *ngIf="freelancerLength">
          <div class="loading">
            <div class="loading-bar">
              <span class="bar-animation"></span>
            </div>
          </div>
        </div>
        <p class="empty" *ngIf="empty && lang=='english'">There is nothing to show.</p>

        <p class="empty" *ngIf="!searchfirst && !latitude && lang=='english'">You must allow GPS first to active this feature, <strong>Go to My Profile.</strong></p>


        <p class="empty" *ngIf="empty && lang=='english'">لا يوجد شئ لعرضه</p>

        <p class="empty" *ngIf="!searchfirst && !latitude && lang=='english'">يجب عليك تفعيل خاصيه تحديد الموقع<strong>اذهب الي الصفحه الشخصيه</strong></p>



        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">

                <h5 class="modal-title" id="exampleModalLabel" *ngIf="allowedToRequest">Done <i class="far fa-grin-beam"></i></h5>

                <h5 class="modal-title" id="exampleModalLabel" *ngIf="!allowedToRequest">Sorry <i class="far fa-frown-open"></i></h5>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <div class="alert alert-success" role="alert" *ngIf="allowedToRequest && !duplicateRequest && requestAtleast && lang=='english'">
                  You request a worker successfully.
                </div>

                <div class="alert alert-success" role="alert" *ngIf="allowedToRequest && !duplicateRequest && requestAtleast && lang=='arabic'">
                    تم تقديم طلبك للعامل بنجاح
                  </div>

                <div class="alert alert-danger" role="alert" *ngIf="!allowedToRequest && lang=='english'">
                  You must rate all workers that finished their jobs first.
                </div>
                
                <div class="alert alert-danger" role="alert" *ngIf="!allowedToRequest && lang=='english'">
                    يجب عليك تقييم كل الاعمال المنتهيه اولا
                  </div>
                
                <div class="alert alert-warning" role="alert" *ngIf="duplicateRequest && allowedToRequest && requestAtleast && lang=='english'">
                  {{ duplicateRequest }}
                </div>

                <div class="alert alert-warning" role="alert" *ngIf="duplicateRequest && allowedToRequest && requestAtleast && lang=='arabic'">
                    لقد تم تقديم طلبك للعامل مسبقا
                  </div>
                    
              </div>
              
            </div>
          </div>
        </div>



  </div>
</div>


<app-footer></app-footer>

